.loginBg {
    height:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  .logoImg {
    width: 293px;
    height: 140px;
  }
  
  .text-head {
    color:#0097A7;
    font-family: sans-serif;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 20px;
  }
  .login-card {
    border-radius: 2px;
    width:500px;
    height:320px;
    border: 1px solid #EEF2F7;
  
  
  }
  .loginCardView {
    margin-top: 20px;
    width:100%;
    text-align: center;
    font-size: 15px;
     align-items: center;
  }
  
  .loginBtn {
      width: 100px;
      height: 45px;
      font-size: 20px;
      margin-top: 20px;
      background-color:#0097A7;
  }
  
  
  
  
  
  
  
  
  
  
  
  