<div class="loginBg">
    <img src="assets/images/cbtlogo.png" class="logoImg">
    <h2 class='text-head'>TRADE PROMOTION OPTIMIZATION</h2>

    <mat-card class='login-card'>
        <mat-card-content>
            <form (ngSubmit)=" loginHandler()" [formGroup]="loginForm">
                <div class="loginCardView">
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input formControlName="username" matInput required>
                        <mat-error>{{required}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput required>
                        <mat-error>{{required}}</mat-error>
                    </mat-form-field>

                    <div class="loginBtnDiv">
                        <button mat-raised-button type="submit"  class="loginBtn">Login</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>