<div class="mt-5" align="center">
    <mat-card class='file-card pt-5'>
        <mat-card-content>
            <div class="row align-items-center">
                <div class="col-2 text-center">Input File</div>
                <div class="col-7">
                    <input placeholder="select file" class="input-box" disabled required [value]="inputFilePath" />
                    <input hidden type="file"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.json"
                        #file (change)="selectFile($event)" />
                </div>
                <div class="col-3">
                    <button mat-flat-button class="button-view" (click)="file.click()">
                        Browse
                    </button>
                </div>
            </div>

            <div class="row justify-content-center pt-5">
                <button mat-flat-button class="button-view blue-button-view" (click)="fileSubmit()">
                    Submit
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>